{
    // WiFi SSID and password, required
    "ssid": "my-wifi",
    "password": "my-password",
    // Barrier server IP address and port, required
    // NOTE: Must be IPv4 address, host/dns name or IPv6 address are not supported!
    "server": "192.168.100.200:24800",
    // The screen name configured to be accepted by the Barrier server, required
    "screen_name": "MY-SCREEN",

    // Optional configurations, can be omitted to use default values
    
    // The physical width of the screen, optional, default value is 1920
    "screen_width": 1920,
    // The physical height of the screen, optional, default value is 1080
    "screen_height": 1080,
    // Set to `true` to reverse the direction of the mouse wheels, optional, default value is false
    "flip_wheel": false,
    // The USB HID polling rate, optional, default value is 250, maximum value is 1000, usually 125-500 is good for most cases, higher value may lead to higher CPU usage, but too low value (less than 125) may cause the mouse cursor not smooth enough.
    "polling_rate": 250,
    // The interval between two jiggles, optional, default value is 60 seconds
    "jiggle_interval": 60,
    // Brightness, optional, 1-100, default value is 30, applied to both SmartLED and Graphical indicators.
    // CAUTION: Higher value can consume more power and may cause overheat or being blocked by the host USB port, but too low value may cause the indicators not visible, especially to the graphics indicator on TFT LCD. Usually 10~50 is good for SmartLED, and 30~60 is good for TFT LCD.
    "brightness": 30,

    // Static IP address, optional, omit to use DHCP, default value is null or omitted
    "ip_addr": "192.168.100.201/24",
    // Gateway IP address, optional, can be omitted if use DHCP or the server is in the same subnet
    "gateway": "192.168.100.1",

    // Below are internal configurations, usually you don't need to change them and can be omitted

    // USB VID, optional, default value is 3338(0x0d0a)
    "vid": 3338,
    // USB PID, optional, default value is 49374(0xc0de)
    "pid": 49374,
    // Optional, default value is "0d0a.com"
    "manufacturer": "0d0a.com",
    // Optional, default value is "Esparrier KVM"
    "product": "Esparrier KVM",
    // Optional, default value is "88888888"
    "serial_number": "88888888"
}